@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     @font-face {
        font-family: circular;
        src: url("../fonts/CircularStd-Book.otf");
    }

    @font-face {
        font-family: circularMedium;
        src: url("../fonts/CircularStd-Light.otf");
    }
}